body {
	background-color: #0a041e;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
}

a {
    color: #cca39e;
}

p {
    color: #cca39e;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    max-width: 600px;
}

.regular-text {
	font-weight: normal;
    font-size: 30px;
}

.larger-text {
	font-weight: normal;
    font-size: 32px;
}

.title-text {
	font-weight: normal;
    font-size: 55px;
    color: #cca39e;
}

.link-text {
	font-weight: normal;
    font-size: 30px;
}

@keyframes rainbow {
    0% { color: #cca39e; }
    50% { color: #ba5044; }
    100% { color: #cca39e; }
}

.link-text {
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    color: #ba5044;
}

.link-text:hover {
	font-weight: normal;
    font-size: 30px;
    animation: rainbow 1s linear infinite;
    text-decoration: none;
}

.home-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

