body {
	background-color: #000000;
    margin: 0;
    overflow: hidden;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
}

.container {
    text-align: center;
}

.link-text {
	font-weight: normal;
    font-size: 30px;
    color: #ffffff;
    transition: opacity 0.5s ease-in-out;
}

.title-text {
	font-weight: normal;
    font-size: 55px;
    color: #ffffff;
    transition: opacity 0.5s ease-in-out;
}
