body {
	background-color: #000000;
    margin: 0;
    overflow: hidden
}

.container {
    text-align: center;
}

.link-text {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
    font-size: 40px;
    color: #ffffff;
    transition: opacity 0.5s ease-in-out;
}

.title-text {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
    font-size: 70px;
    color: #ffffff;
    transition: opacity 0.5s ease-in-out;
}
